/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
/* .card-header {
  font-weight: bold;
  background-color: #2c303a !important;
/* } */

/* .card-body h6 {
  color: #adb5bd;
}

.card-body h2 {
  color: #00bcd4;
} */ 